<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ノベルバース</title>
    <link rel="stylesheet" href="/css/common_template.css">
    <%- head %>
  </head>
  <body>
    <!-- ヘッダー -->
    <header>
      <!-- サイトロゴとサイト説明-->
      <h2>ノベバ</h2>
      <p>サイト説明</p>
      <!-- サイト内検索ボックス -->
      <form action="" class="search-form">
        <input type="text" name="search" placeholder="サイト内検索" />
      </form>
    </header>
    <!-- ナビゲーション -->
    <nav class="site-nav">
      <ul>
        <li>
          <button class="site-nav-button">
            <a href="./home.html">ホーム</a>
          </button>
        </li>
        <li>
          <button class="site-nav-button" id="genreButton">
            <a href="#">ジャンル</a>
          </button>
          <div class="dropdown-content" id="genreDropdown">
            <a href="#">純文学</a>
            <a href="#">恋愛</a>
            <a href="#">青春</a>
            <a href="#">ホラー</a>
            <a href="#">SF</a>
          </div>
        </li>
        <li>
          <button class="site-nav-button" id="writerButton">
            <a href="#">作家</a>
          </button>
          <div class="dropdown-content" id="writerDropdown">
            <a href="#">芥川龍之介</a>
            <a href="#">宇佐見りん</a>
            <a href="#">江國香織</a>
          </div>
        </li>
        <li>
          <button class="site-nav-button" id="siteInformationButton">
            <a href="#">サイト案内</a>
          </button>
          <div class="dropdown-content" id="siteInfomationDropdown">
            <a href="#">ノベバとは</a>
            <a href="#">運営者について</a>
          </div>
        </li>
        <li>
          <button class="site-nav-button" id="boardButton">
            <a href="#">掲示板</a>
          </button>
          <div class="dropdown-content" id="boardDropdown">
            <a href="#">掲示板とは</a>
            <a href="#">見てみる</a>
          </div>
        </li>
        <li>
          <div class="mypage-container">
            <button class="site-nav-button" id="mypageButton">
              <a href="#" class="mypage">マイページ</a>
            </button>
            <div class="dropdown-content" id="mypageDropdown">
              <a href="#">アカウント設定</a>
              <a href="#">読みたい一覧</a>
              <a href="#">ログアウト</a>
            </div>
          </div>
        </li>
      </ul>
      <!-- <img src="" alt=""> -->
    </nav>

    <%- body %>

    <!-- フッター -->
    <footer>
      <ul>
        <li><a href="#" class="footer-title">サイトについて</a></li>
        <li><a href="#">ノベバとは</a></li>
        <li><a href="#">利用規約</a></li>
        <li><a href="#">プライバシーポリシー</a></li>
        <li><a href="#">運営者</a></li>
        <li><a href="#">掲示板とは</a></li>
      </ul>
      <ul>
        <li><a href="#">サポート</a></li>
        <li><a href="#">ご意見・お問い合わせ</a></li>
      </ul>
    </footer>

    <%- scripts %>
  </body>
</html>
