<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ノベルバース</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/signup_and_login_template.css">
    <%- head %>
  </head>
  <body>
    <!-- ヘッダー -->
    <header>
      <div class="header_wrapper">
        <!-- サイトロゴとサイト説明-->
        <div class="site_logo">
          <a href="/novel/home">
            <img class="site_img" src="/images/アセット 4@2x.png" alt="" />
          </a>
        </div>
        <!-- サイト内検索ボックス -->
        <form class="search_form" action="/novel/search" method="get" class="search-form">
          <input class="search" type="text" name="search" placeholder="サイト内検索" />
        </form>
      </div>
    </header>
    <!-- ナビゲーション -->
    <div class="nav_container">
      <nav class="site_nav">
        <ul>
          <li>
              <a href="/novel/home">ホーム</a>
          </li>
          <li>
              <a href="/user/signup">アカウント作成</a>
          </li>
          <li>
            <a href="/user/login">ログイン</a>
          </li>
          <li>
            <a href="/user/login">アイコン画像<!-- <img src="" alt=""> --></a>
          </li>
        </ul>
      </nav>
    </div>
    <%- include('../partials/flash') %>
    <%- body %>
    <!-- フッター -->
    <footer>
      <ul>
        <label class="footer_label">ノベバについて</label>
        <li><a href="#">→ ノベバとは</a></li>
        <li><a href="#">→ 利用規約</a></li>
        <li><a href="#">→ プライバシーポリシー</a></li>
        <li><a href="#">→ 運営者</a></li>
        <li><a href="#">→ 掲示板とは</a></li>
      </ul>
      <ul>
        <label class="footer_label">サポート</label>
        <li><a href="#">→ ご意見・お問い合わせ</a></li>
      </ul>
    </footer>
  </body>
</html>
