/* 共通 */

main {
    font-family: "Noto Sans JP", sans-serif;
    display: flex;
    min-height: 70vh;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto; 
}

.colums_label{
    font-size: 12px;
    display: inline-block;
    margin-bottom: 5px;
    width: 80px;
}

.caption_label{
    font-size: 8px;
    padding: 5px;
}

.required_label{
    color: #920000;
} 

main form{
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
}

.opinion{
   padding-top: 10px;
}

form select , .opinion{
    width:  100%;
    border:none;
    padding-left: 5px;
}

/* 削除ボタン */
.btn{
  letter-spacing: 5px;
  line-height: 40px;
  border:none;
  color: #fff;
  background-color:#505F00;
  text-align: center;
  width: 200px;
  display: block;
  margin: 20px auto;
  transition: opacity 0.5s ease;
}

.btn:hover{
  opacity: .8;
} 

/* その他 テキストエリア */

.other {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, height 0.5s ease;
  padding-top: 10px;
  width:  100%;
  border:none;
  padding-left: 5px;
  margin-top:20px;
}
.other.show {
  opacity: 1;
  height: auto; /* 内容に応じた高さに調整 */
}

/* モーダル */
  
/* モーダルと背景の指定 */
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,50%);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  box-sizing: border-box;
}

/* モーダルの擬似要素の指定 */
.modal:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-left: -0.2em;
}

/* クラスが追加された時の指定 */
.modal.is-active{
  opacity: 1;
  visibility: visible;
}

/* モーダル内側の指定 */
.modal-container{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 600px;
  width: 90%;
}

/* モーダルを閉じるボタンの指定 */
.modal-close{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  color: #fff;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
}

/* モーダルのコンテンツ部分の指定 */
.modal-content{
  background: #fff;
  text-align: left;
  line-height: 1.8;
  padding: 20px;
  height: 240px;
}

/* モーダルのコンテンツ部分のテキストの指定 */
.modal-content p{
  padding: 40px 0 0;
  margin: 1em 0;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}

.modal_btn{
  display: block;
  margin: 0 auto; 
  color: #fff;
  background-color: #505F00;
  border:none;
  padding: 10px 24px;
  margin-top: 30px;
  letter-spacing: 2px;
  width: 160px;
  font-size: 12px;
  transition: opacity 0.5s ease;
}

.modal_btn_label{
  display: block;
  margin: 0 auto; 
  color: #fff;
  background-color: #505F00;
  text-align: center;
  border:none;
  padding: 10px 0;
  margin-top: 30px;
  letter-spacing: 2px;
  width: 160px;
  font-size: 12px;
  transition: opacity 0.5s ease;
}

.modal_btn:hover , .modal_btn_label:hover{
  opacity:.7;
}

.btn_box{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

/* チェックボックス */
input[type="checkbox"] {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #6e6d6d;
  background-color: #fff;
  vertical-align: -7px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox_label{
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
}

input[type="checkbox"]:checked:before {
  position: absolute;
  top: 3px;
  left: 6px;
  transform: rotate(50deg);
  width: 4px;
  height: 8px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  content: '';
}