
main {
    font-family: "Noto Sans JP", sans-serif;
    background-color: #F6F1DE;
    color: #332405;
}

li{
    list-style: none;
}

main a{
    text-decoration: none;
    color: #332405;
}

.container{
    width: 100%;
    max-width: 1200px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    min-height: 70vh;
}

/* 左側 */

.left_container{
    margin-top: 30px;
    width: 250px;
    height:250px;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.left_title ,.right_title h2{
    margin-top: 0;
    letter-spacing: 3px;
    background-color:#002B24;
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 18px;
}

.help_list{
    padding-left: 0;
}

.help_list li{
    margin-bottom: 12px;
    text-align: center;
}

.help_list li a{
    transition: opacity 0.5s ease; 
}

.help_list li a:hover {
    opacity: .6;
}

/* 右側 */

.right_container{
    margin-top: 30px;
    width: 80%;
    height: 100%;
    padding-left: 50px;
}

.right_box {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.photo_setting, .account_setting {
    align-items: stretch; /* 高さを揃える */
}

.section_title{
    display: inline-block;
    padding-bottom: 30px;
}

.right_container form{
    padding-left: 30px;
}

.caption_label{
    font-size: 8px;
    padding: 5px;
}

.required_label{
    color: #920000;
}

.btn{
    display: block;
    color: #fff;
    background-color: #505F00;
    border:none;
    width: 100%;
    margin: 0 auto; 
    max-width:200px;
    padding: 10px 24px;
    margin-top: 10px;
    letter-spacing: 2px;
    transition: opacity 0.5s ease; 
}

.btn:hover {
    opacity:.7;
}

/* 写真フォーム */

/* .photo_setting{
    width: 35%;
    display: block;
    background-color: red;
    height: auto; 
} 

.img_set_form {
    display: block; 
    width: 100%; 
    height: 100%; 
    background-color: #505F00; 
} */

.photo_setting {
    width: 35%; /* サイドバーの幅 */
    display: block; /* ブロック要素として表示 */
    background-color: red; /* 背景色 */
    height: 100%; /* 高さを100%に設定 */
    min-height:520px;
}

#img_set_form {
    display: block; /* ブロック要素として表示 */
    padding: 10px; /* 内部のパディングを設定 */
    margin-bottom: 0;
    background-color:blue; /* 背景色 */
    margin-top: 10px; /* 上部のマージンを設定 */
    height: 100%; /* 高さを100%に設定 */
}

.top_img {
    width: 100%;
    display: block;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #f0f0f0;
}

#top_img_delete_btn:hover{
    opacity: .7;
}

/* ユーザー情報フォーム */

.account_setting{
    width: 65%;
}

.account_setting input{
    width: 100%;
    max-width: 280px;
    height: 40px;
    border: none;
    padding-left: 5px;
}

.ta_box{
    display: flex;
    align-items:flex-start;
}

textarea{
    width: 100%;
    max-width: 280px;
    border: none;
    padding-left: 5px;
    margin-left: 5px;
    height: 60px;
}

.password{
    width: 120px;
    border: none;
}

.pass_label{
    font-size: 8px;
    padding-left: 150px;
}

.pass_label:hover{
    opacity:.7;
}

.colums_label{
    font-size: 12px;
    display: inline-block;
    width: 100px;
    padding-right: 10px;
}
