


main {
    font-family: "Noto Sans JP", sans-serif;
    background-color: #F6F1DE;
    color: #332405;
}

li{
    list-style: none;
}

main a{
    text-decoration: none;
    color: #332405;
}

.container{
    width: 100%;
    max-width: 1200px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    min-height: 70vh;
}

/* 左側 */

.left_container{
    margin-top: 30px;
    width: 250px;
    height:250px;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.left_title ,.right_title h2{
    margin-top: 0;
    letter-spacing: 3px;
    background-color:#002B24;
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 18px;
}

.help_list{
    padding-left: 0;
}

.help_list li{
    margin-bottom: 12px;
    text-align: center;
}

.help_list li a{
    transition: opacity 0.5s ease; 
}

.help_list li a:hover {
    opacity: .6;
}

/* 右側 */

.right_container{
    margin-top: 30px;
    width: 80%;
    height: 100%;
    padding-left: 50px;
}

.right_box {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.photo_setting, .account_setting {
    align-items: stretch; /* 高さを揃える */
}

.section_title{
    display: inline-block;
    padding-bottom: 30px;
}

.right_container form{
    padding-left: 30px;
}

.caption_label{
    font-size: 8px;
    padding: 5px;
}

.required_label{
    color: #920000;
}

.btn{
    display: block;
    color: #fff;
    background-color: #505F00;
    border:none;
    width: 100%;
    margin: 0 auto; 
    max-width:200px;
    padding: 10px 24px;
    margin-top: 10px;
    letter-spacing: 2px;
    transition: opacity 0.5s ease; 
}

.btn:hover {
    opacity:.7;
}

/* 写真フォーム */

.photo_setting {
    width: 35%; /* サイドバーの幅 */
    display: block; /* ブロック要素として表示 */
    min-height:520px;
    box-sizing: border-box; /* パディングを含めて高さを計算 */
}

.img_set_form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 10px;
    height: 159px;
}

#img_set_form{
    height: 183px;
}

.img_set_form .btn{
    margin-top: auto;
}

.top_img {
    width: 100%;
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    object-fit: cover;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

#top_img_delete_btn{
    padding-left: 30px;
    border:none;
    background-color: transparent;

}

#top_img_delete_btn:hover{
    opacity: .7;
}

/* ユーザー情報フォーム */

.account_setting{
    width: 65%;
}

.account_setting input{
    width: 100%;
    max-width: 280px;
    height: 40px;
    border: none;
    padding-left: 5px;
}

.ta_box{
    display: flex;
    align-items:flex-start;
}

textarea{
    width: 100%;
    max-width: 280px;
    border: none;
    padding-left: 5px;
    margin-left: 5px;
    height: 60px;
}

.password{
    width: 120px;
    border: none;
}

.pass_label{
    font-size: 8px;
    padding-left: 150px;
}

.pass_label:hover{
    opacity:.7;
}

.colums_label{
    font-size: 12px;
    display: inline-block;
    width: 100px;
    padding-right: 10px;
}

@media screen and (max-width: 768px) {

    main {
        margin-right: auto;
    }
    
    .container {
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }

    .right_title h2 {
        max-width: 90%;
        margin-left: 20px;
        text-align: center;
    }

    .right_container {
        width: 100%;
        margin-right: 0;
        padding-left: 0;
        order: 1;
    }

    .right_box {
        flex-direction: column;
        width: 100%;
    }

    .photo_setting {
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: auto;
        order: 1;
    }

    .account_setting {
        width: 90%;
        margin-right: 20px;
        order: 2;
    }
    
    .left_container {
        width: 90%;
        max-width: none;
        order: 3;
        margin: 30px;
        height: auto;
    }

    .top_img {
        width: 150px;
        height: 150px;
    }

    #top_img_delete_btn {
        padding-left: 0;
        margin-top: 10px;
        color: black;
    }

    .img_set_form, #img_set_form {
        height: auto;
        align-items: center;
        width: 90%;
    }

    .help_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .help_list li {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .section_title {
        text-align: center;
        padding-bottom: 15px;
    }

    .photo_setting .caption_label {
        display: block;
        text-align: center;
    }

    .photo_setting .btn {
        margin-top: 20px;
        width: 100%;
        margin-right: 40px;
        max-width: none;
    }

    input[type="file"] {
        width: 100%;
        text-align: center;
    }

    .account_setting input, 
    .account_setting textarea {
        margin-right: 50px;
        max-width: none;
    }

    .account_setting .colums_label {
        width: 100%;
        display: block;
        text-align: left;
        margin-bottom: 5px;
    }

    .account_setting .ta_box {
        flex-direction: column;
        align-items: flex-start;
    }

    .account_setting textarea {
        margin-left: 0;
        width: 100%;
    }

    .account_setting .caption_label {
        display: inline-block;
        margin-bottom: 5px;
    }

    .account_setting input,
    .account_setting textarea {
        margin-top: 5px;
    }

    .account_setting .btn {
        width: 100%;
        margin-right: 50px;
        max-width: none;
    }

    .pass_label {
        padding-left: 0;
        display: block;
        margin-top: 5px;
    }
}