html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F6F1DE;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
}

header h2 {
  margin: 20px 20px 20px 100px;
}

header .search-form {
  margin-left: 900px;
}

input[type="text"] {
  padding: 5px 20px;
}

.site-nav {
  display: flex;
  align-items: center;
  background-color: #002B24;
}

.site-nav ul{
  margin-left: 200px;
  display: flex;
}

.site-nav ul li {
  margin-right: 50px;
  list-style: none;
}

.site-nav ul li a{
  text-decoration: none;
  color: white;
}

.site-nav .site-nav-button {
  background-color: #002B24;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

ul li .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #d1cdcd;
}
.show {
  display: block;
}

.mypage-container .site-nav-button {
  margin-left: 400px;
}

#mypageDropdown {
  right: 100px;
}

footer {
  background-color: #002B24;
  padding: 15px;
  margin-top: auto;
}

footer ul{
  display: flex;
  list-style: none;
  margin-left: 200px;
}

footer ul li {
  margin-right: 50px;
}

footer ul li a{
  text-decoration: none;
  color: white;
}