.icon {
  color: white;
  margin-left: 20px;
}

.mobile_only{
  display: none;
}

.container{
  width: 100%;
  max-width: 1200px;
  padding: 100px 40px;
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
  color: #332405;
}

.section_container{
  margin-bottom: 80px;
}

.section_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section_right{
  display: flex;
  text-align: center;
}

.section_title , .more{
  display: inline-block;
  color: #332405;
}

.yellow{
   display:inline-block;
   margin-top: 10px;
   margin-right: 10px;
   width: 20px;
   height: 60px;
   background-color: #E3B813;
}

.more{
  font-size: 15px;
  transition: opacity 0.5s ease;
}

.book-cover img {
  height: 260px;
  width: 180px;
  object-fit: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* ボックスシャドウ */
}

.book-list li{
  width: 100%;
  max-width: 20%;
  transition: opacity 0.5s ease;
}

.wrap_book_list{
  margin-top: 60px;
}

.book-list ul{
  display: flex;
  flex-wrap: wrap;
}

.book-list li a{
  display: flex;
  justify-content: center;
  color: #332405;
}

.book-list li p { 
  margin: 0 ;  
}

.novel_name{
  letter-spacing: 1px;
}

.author_name{
  letter-spacing: 1px;
  font-size: 12px;
}

.book-list li a:hover , .more:hover{
  opacity: .8;
}

.bookmark-button {
  position: absolute;
  bottom: 8%;
  right: 5%;
  left: 5%;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: #505F00;
  color: white;
}

.book-cover {
  position: relative;
}

.book-cover:hover .bookmark-button{
  opacity: 1;
} 

.book-cover:hover .bookmark-button:hover {
  opacity: 0.7;
}

/* 例: 768px以下の画面サイズに対するスタイル */
@media (max-width: 768px) {

  .mobile_only{
    display: block;
  }

  .more_mobile_only{
    background-color: #fff;
    line-height: 60px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border: solid 1px #78540d;;
  }
  
  .more_mobile_only a{
    display: inline-block;
    width: 100%;
    line-height: 60px;
    color:  #332405;
    letter-spacing: 1px;
    font-weight: bold;
  }

  .more_mobile_only a:hover{
    opacity: .7;
  }

  .container{
    max-width: 768px;
    padding: 100px 10px ;
  }

  .book-cover img {
    height: 260px;
    width: 180px;
  }
  .more{
    display: none;
  }
  
  .book-list li{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  
  .wrap_book_list{
    margin-top: 0px;
  }
  
  .book-list ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  
  .book-list li a{
    display: flex;
    justify-content: center;
    color: #332405;
  }
  
  .book-list li p { 
    margin: 0 ;  
  }
  
  .novel_name{
    padding-top: 10px;
    font-size: 24px;
  }
  
  .author_name{
    font-size: 16px;
  }

  .book-cover {
    position: static;
  }

  .book-list li {
    position: relative;
  }
  
  .book-item{
    display: flex;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
  }

  .book-item span{
    padding-left: 30px;
  }

  .book-list ul{
    flex-direction: column;
  }

  .bookmark-button {
    display: none;
  }
  
  
  .bookmark_button {
    padding: 10px 15px;
    width: 200px;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
    background-color: #505F00;
    color: white;
    position:absolute;
    bottom: 10%;
    left: 55%;
  }

  .bookmark_button:hover{
    opacity: .7;
  }
}
