.icon {
  color: white;
  margin-left: 20px;
}

.container{
  width: 100%;
  max-width: 1200px;
  padding-top: 150px;
  padding-bottom: 150px;
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
  color: #332405;
}

.section_container{
  margin-bottom: 80px;
}

.section_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section_right{
  display: flex;
  text-align: center;
}

.section_title , .more{
  display: inline-block;
  color: #332405;}

.yellow{
   display:inline-block;
   margin-top: 10px;
   margin-right: 10px;
   width: 20px;
   height: 60px;
   background-color: #E3B813;
}

.more{
  font-size: 15px;
  transition: opacity 0.5s ease;
}

.book-cover img {
  height: 260px;
  width: 180px;
  object-fit: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* ボックスシャドウ */
}

.book-list li{
  width: 100%;
  max-width: 20%;
  transition: opacity 0.5s ease;
}

.book-list ul{
  display: flex;
}

.book-list li a{
  display: flex;
  justify-content: center;
  color: #332405;
}

.book-list li p { 
  margin: 0 ;  
}

.novel_name{
  letter-spacing: 1px;
}

.author_name{
  letter-spacing: 1px;
  font-size: 12px;
}

.book-list li a:hover , .more:hover{
  opacity: .8;
}

.bookmark-button {
  position: absolute;
  bottom: 8%;
  right: 5%;
  left: 5%;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: #505F00;
  color: white;
}

.book-cover {
  position: relative;
}

.book-cover:hover .bookmark-button{
  opacity: 1;
} 

.book-cover:hover .bookmark-button:hover {
  opacity: 0.9;
}



/* 
.content {
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.book-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.book-item p {
  margin: 0;
  margin-right: 30px;
  margin-bottom: 5px;
  text-align: right;
}


.bookmark-button {
  position: absolute;
  bottom: 5%;
  right: 5%;
  left: 5%;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: #505F00;
  color: white;
}

.book-cover {
  position: relative;
  margin-bottom: 10px;
}

.book-cover:hover .bookmark-button,
.bookmark-button:hover {
  opacity: 0.8;
} 




*/