.container {
  display: flex;
  max-width: 1200px;
  padding: 100px 40px;
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
  color: #332405;
}

.cover_img{
  height: 390px;
  width: 270px;
  object-fit: cover;
  margin-right: 60px;
}

.title_header{
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.novel_title {
  font-size: 24px;
  margin-bottom: 10px;
}


hr {
  width: 100%;
  margin: 20px 0;
  border: none;
  border-top: 1px solid #332405;
}


.bookmark-button {
  padding: 5px 10px;
  background-color: #505F00;
  color: white;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.summary_text {
  width: 100%;
  height: 100px;
  margin: 10px 0 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #332405;
  border-radius: 3px;
  resize: vertical;
}

/* 
.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}






p {
  margin: 5px 0;
} */