<% layout("layouts/common-template") %>

<!-- 特定のCSS -->
<% head = '<link rel="stylesheet" href="/css/account_deletion.css">' %>
<main>
    <h1>
        ダッシュボード
    </h1>
</main>
<% scripts = '<script src="/js/home.js"></script>' %> 