<% layout("layouts/admin-common-template") %>

<!-- 特定のCSS -->
<% head = '<link rel="stylesheet" href="/css/account_deletion.css">' %>
<main>
    <h1>
        ダッシュボード
    </h1>
    <div>総ユーザー数：<%= userCount %></div>
    <div>小説総数：<%= novelCount %></div>
    <div>今日のアクティブ数：<%= todayActiveUser %></div>
    <div>今週のアクティブ数：<%= oneWeekActiveUser %></div>
</main>
<% scripts = '<script src="/js/home.js"></script>' %> 