<% layout("layouts/admin-common-template") %>
<!-- 特定のCSS -->
<% head = '<link rel="stylesheet" href="/css/admin/admin_authors.css">' %>
    <label class="novel_count">小説の数 <%= count %>冊</label>
    <a class="author_add" href="/admin-author/author_add %>">著者追加</a>
    <div class="author_list">
        <ul>
            <% for (let author of  authors ){%>
                <li>
                    <label class="author_name"><%= author.author_name %></label> <a class="delete_btn" href="/admin-author/deletion/<%= author._id %>">削除</a><br>
                </li>
            <% } %> 
        </ul>
    </div>
   
<% scripts = '<script src="/js/home.js"></script>' %> 
