<% layout("layouts/common-template") %>
<!-- 特定のCSS -->
<% head = '<link rel="stylesheet" href="/css/account_deletion.css">' %>
<main>
    <div class="container">
        <div class="left_container">
            <p>小説の数 <%= count %></p>
            <% for (let author of  authors ){%>
                <%= author.author_name %>　<a href="/admin-author/deletion/<%= author._id %>">削除</a><br>
            <% } %> 
        </div>
    </div> 
</main>
<% scripts = '<script src="/js/home.js"></script>' %> 
