<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="話題の新刊から名作まで、幅広いジャンルの小説を紹介。あらすじや著者情報、読者レビューを掲載。おすすめの一冊が必ず見つかる小説ファン必見のサイトです。">
    <title>ノベルバース</title>
    <link rel="icon" href="https://res.cloudinary.com/dogup1dum/image/upload/v1722607998/Novelverse/t4hlnplwwpynvh6ft7yi.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin/admin_login.css">
  </head>
  <body>
    <header>
      <div class="header_wrapper">
        <div class="site_logo">
          <img class="site_img" src="https://res.cloudinary.com/dogup1dum/image/upload/v1721915725/Novelverse/e9tdgl5j1xuva1fog3x6.png" alt="" />
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <h1 class="section_title">Novelverse<br>管理者専用ログイン</h1>
        <form class="login_form" action="/admin/admin-login" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <label class="colums_label">管理者コード：</label><br />
          <input type="text" name="admin_code" required /><br />
          <label class="colums_label">パスワード：</label><br />
          <input type="password" name="password" required />
          <button class="form_btn">ログイン</button>
        </form>
      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>