<% layout("layouts/common-template") %>

<!-- 特定のCSS -->
<% head = '<link rel="stylesheet" href="/css/account_deletion.css">' %>
<main>
    <a href="/admin/registration_admin">新規登録へ</a>
    <h1>Novelverse<br>管理者専用</h1>
    <form action="/admin/admin_login" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <label class="colums_label">管理者コード：</label><br />
        <input type="text" name="admin_code" required />
        <br /><br />
        <label class="colums_label">パスワード：</label><br />
        <input type="password" name="password" required />
        <br /><br />
        <div class="button_box">
          <button class="form_btn">ログイン</button>
        </div>
    </form>
</main>
<% scripts = '<script src="/js/home.js"></script>' %> 