
/* 共通 */
.management_container{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}

.right_container, .left_container{
    width: 45%;
    background-color: #fff;
}

.section_title{
    text-align: center;
}

/* 左側 */

.left_container li{
    margin-bottom: 20px;
}

.left_container{
    overflow-y: scroll;
    height: 490px;
}

/* 右側 */

.right_container{
    padding-left: 40px;
    height: 380px;
}

.colums_label{
    width: 150px;
    margin-bottom: 20px;
    display: inline-block;
}

/* 検索フォーム */

.search_form{
  padding-top: 20px;
  padding-left: 30px;
}

.search_form input {
  border: 1px solid #686868; 
  padding: 5px 5px 5px 10px;
  height: 32px;
  width: 270px;
  border-radius: 5px;
}

.search_btn{
  background-color: transparent;
  border: none;
  transition: opacity ease 0.5s;
}

.search_btn:hover{
opacity: .7;
}

/* ユーザー数の表示 */
.user_count{
  padding-left:40px;
  font-size: 16px;
}


/* 削除ボタン */
.btn{
    letter-spacing: 5px;
    line-height: 40px;
    border:none;
    color: #fff;
    background-color:#505F00;
    text-align: center;
    width: 200px;
    display: block;
    margin: 20px auto;
    transition: opacity 0.5s ease;
  }
  
  .btn:hover{
    opacity: .8;
  } 

  .caption{
    color: #4f4f4f;
    font-size: 15px;
    margin-top: 40px;
}

/* 管理者コード入力欄*/
.admin_code{
    border: 1px solid #686868; 
    height: 40px;
    width: 300px;
    padding-left: 10px;
    margin-top: 5px;
    border-radius: 5px;
}


/* モーダル */
  
/* モーダルと背景の指定 */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,50%);
    padding: 40px 20px;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    box-sizing: border-box;
  }
  
  /* モーダルの擬似要素の指定 */
  .modal:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-left: -0.2em;
  }
  
  /* クラスが追加された時の指定 */
  .is-active{
    opacity: 1;
    visibility: visible;
  }
  
  /* モーダル内側の指定 */
  .modal-container{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 600px;
    width: 90%;
  }
  
  /* モーダルを閉じるボタンの指定 */
  .modal-close{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /* モーダルのコンテンツ部分の指定 */
  .modal-content{
    background: #fff;
    text-align: left;
    line-height: 1.8;
    padding: 20px;
    height: 300px;
  }
  
  /* モーダルのコンテンツ部分のテキストの指定 */
  .modal-content p{
    padding: 40px 0 0;
    margin: 1em 0;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .modal_btn{
    margin: 0 auto; 
    display: block;
    color: #fff;
    background-color: #505F00;
    border:none;
    padding: 10px 24px;
    margin-top: 30px;
    letter-spacing: 2px;
    width: 160px;
    font-size: 12px;
    transition: opacity 0.5s ease;
  }
  
  .modal_btn_label{
    display: block;
    margin: 0 auto; 
    color: #fff;
    background-color: #505F00;
    text-align: center;
    border:none;
    padding: 10px 0;
    margin-top: 30px;
    letter-spacing: 2px;
    width: 160px;
    font-size: 12px;
    transition: opacity 0.5s ease;
  }
  
  .modal_btn:hover , .modal_btn_label:hover{
    opacity:.7;
  }
  
  .btn_box{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }

  .btn_box form{
    width: 300px;
    margin: 0 auto;
}
  