<% layout("layouts/common-template") %>

<!-- 特定のCSS -->
<% head = '<link rel="stylesheet" href="/css/home.css">' %> 

<%= success %>

<!-- コンテンツ -->
<main class="content">
  <section class="section">
    <h2>注目の新作<span><a href="./novel_list.html">もっと見る -></a></span></h2>
    <div class="book-list">
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
    </div>
    <h2>おすすめの文庫<span><a href="./novel_list.html">もっと見る -></a></span></h2>
    <div class="book-list">
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
    </div>
    <h2>おすすめの単行本<span><a href="./novel_list.html">もっと見る -></a></span></h2>
    <div class="book-list">
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
    </div>
    <h2>おすすめのライトノベル<span><a href="./novel_list.html">もっと見る -></a></span></h2>
    <div class="book-list">
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
    </div>
    <h2>ノベバおすすめ<span><a href="./novel_list.html">もっと見る -></a></span></h2>
    <div class="book-list">
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
      <div class="book-item">
        <div class="book-cover">
          <button class="bookmark-button">読みたい＋</button>
        </div>
        <p>タイトル</p>
        <p>著者</p>
      </div>
    </div>
  </section>
</main>

<!-- 特定のJavaScript -->
<% scripts = '<script src="/js/home.js"></script>' %> 