<% layout("layouts/common-template") %>
<% head = '<link rel="stylesheet" href="/css/account_deletion.css">' %>
        <main>
            <div class="container">
                <form action="/user/account/deletion" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <h2 class="delet_title">アカウント削除</h2>
                    <label class="colums_label">パスワード　<span class="required_label caption_label">必須</span></label>
                    <input type="password" name="password" class="password" placeholder="password" required />
                    <input type="hidden" name="email" value=<%= email %>
                    <br>
                    <div class="textarea_box">
                        <label class="colums_label">削除理由　　<span class="caption_label">任意</span></label>
                        <textarea class="opinion" name="opinion" rows="5"></textarea>
                    </div>
                    
                    <label class="btn js-modal-open">削除</label>

                    <!-- モーダル本体 -->
                    <div class="modal js-modal">
                        <div class="modal-container">
                            <!-- モーダルを閉じるボタン -->
                            <div class="modal-close js-modal-close">×</div>
                            <!-- モーダル内部のコンテンツ -->
                            <div class="modal-content">
                                <p>本当に削除しますか</p>
                                <div class="btn_box">
                                    <button class="modal_btn" type="submit">はい</button>
                                    <label class="js-modal-close-button modal_btn_label">いいえ</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div> 
        </main>
        <% scripts = '<script src="/js/account_deletion.js"></script>' %> 