<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/account_settings.css">
    </head>
    <body>
        <main>
            <div class="container">
                <div class="left_container">
                    <h2 class="left_title">ヘルプ</h2>
                    <div class="nav_box">
                        <ul class="nav_list">
                            <li><a href="#">ノベバとは</a></li>
                            <li><a href="#">利用規約</a></li>
                            <li><a href="#">よくある質問</a></li>
                            <li><a href="#">掲示板について</a></li>
                        </ul>
                    </div>
                </div>
                <div class="right_container">
                    <div class="right_title">
                        <h2>アカウント設定</h2>
                    </div>
                    <div class="right_box">
                        <div class="photo_setting">
                            <h3 class="section_title">写真</h3>
                            <label class="caption_label">※任意</label>
                            <form>
                                <div>
                                    <div id="imagePreview"></div>
                                    <input type="file" id="photoInput" name="photo" accept="image/*" onchange="handleFileUpload(event)" />
                                </div>
                                <button class="btn" type="submit">画像選択</button>
                            </form>
                        </div>
                        <div class="account_setting">
                            <h3 class="section_title">ユーザー情報</h3>
                            <form>
                                <label class="colums_label">ニックネーム</label><span class="caption_label required_label">※必須</span>
                                <input type="text" name="name" required />
                                <br><br>
                                <label class="colums_label">メールアドレス</label><span class="caption_label required_label">※必須</span>
                                <input type="text" name="email" required/>
                                <br><br>
                                <div class="ta_box">
                                    <label class="colums_label">自己紹介</label><span class="caption_label">※任意</span>
                                    <textarea name="self_introduction"  maxlength="140"></textarea>
                                </div>
                                <br>
                                <label class="colums_label">生年月日</label><span  class="caption_label">※任意</span>
                                <input type="date" name="birthdate">
                                <br><br>
                                <label class="colums_label">パスワード</label><span  class="caption_label required_label">※必須</span>
                                <input type="password" class="password" value="testpass" required readonly />
                                <label class="pass_label">パスワード変更はこちら</label>
                                <br><br>
                                <button class="btn" type="submit">更新</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        <script src="js/account_setting.js"></script>
        </main>
    </body>
</html>

