<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <main>
            <div class="container">
                <div class="left_container">
                    <form>
                        <label class="colums_label">メールアドレス</label><br>
                        <input type="text" name="email" required />
                        <br><br>
                        <label class="colums_label">パスワード</label><br>
                        <input type="password" name="password" required/>
                        <br><br>
                        <div class="button_box">
                            <button class="form_btn">
                                新規登録
                            </button>
                            <button class="form_btn">
                                ログイン               
                            </button>
                        </div>
                    </form>
                </div>
                <div class="right_container">
                    <h2>「ノベバへようこそ」</h2>
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>
                        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>
                        <br><br>
                        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>
                        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>
                        <br><br>
                        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>
                        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>
                    </p>
                </div>
            </div> 
        </main>
    </body>
</html>

