<% layout("layouts/common-template") %>
<% head = '<link rel="stylesheet" href="/css/account_settings.css">' %>
<main>
    <form action="/user/account/password_change?_method=PUT" method="POST">

        <label>現在のパスワード</label>
        <input type="password" name="currentPassword" required />
        <br><br>
        <label>新しいパスワード</label>
        <input type="password" name="newPassword" required />
        <br><br>
        <label for="confirmPassword">新しいパスワード（確認）：</label>
        <input type="password" name="confirmPassword" required />
        <button type="submit">パスワードを変更する</button>
    </form>
</main>
<% scripts = '<script src="/js/home.js"></script>' %> 


