<% layout("layouts/common-template") %>
<% head = '<link rel="stylesheet" href="/css/password_change.css">' %>
<main>
    <div class="container">
        <form class="passchange_form" action="/user/account/password_change?_method=PUT" method="POST">
            <h1 class="section_title">パスワード変更画面</h1>
            <label id="currentPassword" for="currentPassword">現在のパスワード</label>
            <input class="input_box" type="password" name="currentPassword" required /><br>
            <label id="newPassword" for="newPassword">新しいパスワード</label>
            <input class="input_box" type="password" name="newPassword" required /><br>
            <label id="confirmPassword" for="confirmPassword">新しいパスワード（確認）</label>
            <input class="input_box" type="password" name="confirmPassword" required /><br>
            <button class="btn" type="submit">パスワードを変更する</button>
        </form>
    </div>
</main>
<% scripts = '<script src="/js/home.js"></script>' %> 


