<% layout("layouts/signup-and-login-template") %>
<% head = '<link rel="stylesheet" href="/css/login.css" />' %>
<%= loginError  %>
<main>
  <div class="container">
    <div class="left_container">
      <form action="/user/login" method="post">
        <label class="colums_label">メールアドレス</label><br />
        <input type="text" name="email" required />
        <br /><br />
        <label class="colums_label">パスワード</label><br />
        <input type="password" name="password" required />
        <br /><br />
        <div class="button_box">
          <a class="signup_btn" href="/user/signup">アカウント作成</a>
          <button class="form_btn">ログイン</button>
        </div>
      </form>
    </div>
    <div class="right_container">
      <h2>「ノベルバースへようこそ」</h2>
      <p>物語の宝庫へ、あなたを誘います。</p>
      <p>新作の発見から人気作品のチェックまで、読書体験をより豊かにする機能が満載です。</p>
      <p>お気に入りの小説をブックマークし、他の読者と感想を共有できる掲示板も用意しています。</p>
      <p>ノベルバースは、あなたの次の一冊との出会いを応援します。</p>
      <p>さあ、新しい物語の世界へ飛び込みましょう。</p>
    </div>
  </div>
</main>
