<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>小説投稿</title>
</head>
<body>
  <form action="/novel/registration" method="post">
    <div>
      <label for="title">タイトル</label>
      <input type="text" name="novel[title]", id="title">
    </div>
    <div>
      <label for="summary">概要</label>
      <input type="text" name="novel[summary]", id="summary">
    </div>
    <div>
      <label><input type="checkbox" name="novel[is_new]">新作</label><br>
    </div>
    <div>
      <label for="pages">ページ数</label>
      <input type="number" name="novel[pages]" id="pages">
    </div>
    <div>
      <label for="publisher_name">出版社名</label>
      <input type="text" name="novel[publisher_name]" id="publisher_name">
    </div>
    <div>
      <label for="publication_date">出版日</label>
      <input type="date" name="novel[publication_date]" id="publication_date">
    </div>
    <div>
      <label for="price">価格</label>
      <input type="number" name="novel[price]" id="price">
    </div>
    <div>
      <label for="cover">表紙</label>
      <input type="text" name="novel[cover]" id="cover">
    </div>
    <div>
      <select name="novel[novel_type]" id="novel_type">
        <option value="文庫">文庫</option>
        <option value="単行本">単行本</option>
        <option value="ライトノベル">ライトノベル</option>
      </select>
    </div>
    <div>
      <label><input type="checkbox" name="novel[is_recommend]">おすすめ</label><br>
    </div>
    <div>
      <label for="author">著者</label>authors
      <select name="novel[author]" id="author">
        <% authors.forEach(author => { %>
        <option value="<%= author._id %>"><%= author.author_name %></option>
        <% }); %>
      </select>
    </div>
    <div>
      <label for="genre">ジャンル</label>
      <select name="novel[genre]" id="genre">
        <% genres.forEach(genre => { %>
        <option value="<%= genre._id %>"><%= genre.genre_name %></option>
        <% }); %>
      </select>
    </div>

    <button>登録</button>
  </form>
</body>
</html>